//banner
.banner{
  line-height: 1.2;
  text-decoration: none;
  .brand{
      color: red;
      font-size: 10vw;
  }

  //Nav Items
  .nav-primary{
    .menu-home-container{
      .menu-item{
        font-size: 3vw;
        margin: 0 15px;
        a:hover {
            text-decoration: underline solid black;
            color: black;
        }
      }
    }
  }
}







@media only screen and (max-width: 800px) {


  //banner
  .banner{
    .brand{
      font-size: 9vw;
    }
    //Nav Items
    .nav-primary{

      .menu-home-container{
        margin: auto;
        .menu-item{
          font-size: 4vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  //banner
  .banner{
    .brand{
      font-size: 12vw;
      //Nav Items
      .nav-primary{

        .menu-home-container{
          .menu-item{
            font-size: 6vw;
          }
        }
      }
    }

  }

}
