//banner
.banner{
  line-height: 1.2;
  text-decoration: none;
  .brand{
      color: rgba(255, 0, 0, 0.84);
      font-size: 8vw;
  }
  a.brand:hover{
    // how can you change underline thickness?
    // --royalBlue: rgba(25, 90, 255, 0.71);
    // text-decoration: underline solid var(--royalBlue);
  }

  //Nav Items
  .nav-primary{
    .menu-home-container{
      .current-menu-item{
        a{
          text-decoration: underline solid black;
        }
      }
      .menu-item{
        font-size: 2.5vw;
        margin: 0 15px;
        a:hover {
            text-decoration: underline solid black;
            color: black;
        }
      }
    }
  }
}







@media only screen and (max-width: 800px) {


  //banner
  .banner{
    .brand{
      font-size: 9vw;
    }
    //Nav Items
    .nav-primary{

      .menu-home-container{
        margin: auto;
        .menu-item{
          font-size: 4vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  //banner
  .banner{
    .brand{
      font-size: 12vw;
      //Nav Items
      .nav-primary{

        .menu-home-container{
          .menu-item{
            font-size: 6vw;
          }
        }
      }
    }

  }

}
